* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color:#df5639; 
    --sec-color:#ffc4d0;
    --back-color:black;
    --lines-color:#ec5390;
    --main-font:Pathway Gothic One;
}
h1, h2, h3  {
    font-family:var(--main-font);
    color: var(--main-color);
} 

p , a , li { 
    font-family: var(--main-font);
    color: var(--sec-color);
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

/* header mods*/
header {
    background-image: url("https://media-exp1.licdn.com/dms/image/C4E16AQEkzvzGy2HtfQ/profile-displaybackgroundimage-shrink_350_1400/0/1611986227644?e=1617840000&v=beta&t=WMmNa8IRN1VyDzFV-CAIbawyLJR4GyERwG4jfzi8C-k");
    background-position: center;
    background-size: cover;
    height:150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-size: 90px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

header nav ul li {
    padding: 20px 30px;

}

/*main body mods*/

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;

}

aside {
    display: flex;
    

}



 
   
